button {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 10%;
  border-style: solid;
  border-top-width: 4px;
  border-left-width: 4px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-color: #D84727;
  background-color: #EF7B45;
  border-radius: 100%;
  &:active {
    background-color: #042A2B;
    border-color: #CDEDF6;
  }
  h1 {
    color: #FFFFFF;
    background-color: inherit;
    font-size: 3.5em;
    width: 80%;
    margin: 0 auto;
  }
}
